@{
    ViewData["Title"] = "The Void";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true"/>
    @await Html.PartialAsync("~/Views/Shared/Fonts.cshtml")
    @*<link rel="stylesheet" href="~/css/tailwind.build.css" asp-append-version="true" />*@
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>@ViewData["Title"]</title>
</head>

<body class="flex flex-col items-center justify-start">

@RenderBody()

@await RenderSectionAsync("Scripts", false)
<script src="~/css/flowbite.min.js"></script>
</body>

</html>
