.carousel-img-container {
    width: 100%;
    height: 370px;
}

.carousel-img-container img {
    object-fit: cover;

}

.main-section {
    padding: 1rem;
}

.text-red {
    color: red
}

.section-title {
    margin-inline: auto;
    text-align: center;
}

@media (min-width: 768px) {
    .carousel-img-container {
        height: 450px;
    }
}
