@{
    ViewData["Title"] = "The Void - Home";
}


<!DOCTYPE html >
<html lang="pt-br" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>@ViewData["Title"]</title>
</head>
<body class="flex h-full flex-col bg-neutral-950">
@await Html.PartialAsync("Components/_HeaderComponent")

@RenderBody()

@await RenderSectionAsync("Scripts", false)
<script src="~/css/flowbite.min.js"></script>
</body>
</html>
