@{
    ViewData["Title"]= "The Void";
}


<!DOCTYPE html >
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>
<body>
<header>
    <div>Welcome to the home page!</div>
</header>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>