@{
    ViewData["Title"]= "The Void - Home";
}


<!DOCTYPE html >
<html lang="pt-br" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    
    <title>@ViewData["Title"]</title>
</head>
<body class="flex h-full flex-col bg-neutral-900">
    @await Html.PartialAsync("~/Views/Shared/LogoHeader.cshtml")

    @RenderBody()
     
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>