@{
    Layout = "_HomeLayout";
}
<main class="new-rocker flex w-full flex-col items-center justify-start gap-y-8 bg-neutral-950 text-neutral-200">

    @* here goes the top 5 (with more likes)*@
    <section class="flex w-full flex-col">
        <swiper-container class="h-[370px] w-full" loop="true">
            <swiper-slide>
                <div class="h-full w-full">
                    <img src="~/images/carousel/eye.jpg" class="h-full w-full object-cover" alt="...">
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="h-full w-full">
                    <img src="~/images/carousel/burzum.jpg" class="h-full w-full object-cover" alt="...">
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="h-full w-full">
                    <img src="~/images/carousel/trees.jpg" class="h-full w-full object-cover" alt="...">
                </div>
            </swiper-slide>
        </swiper-container>

    </section>

    @await Html.PartialAsync("Components/Sidebar/_Sidebar")


    <div class="mx-auto flex w-full flex-col gap-y-8 px-10 text-center text-neutral-200 max-md:px-5
    max-md:text-sm
    mb-20">
        <section class="mx-auto flex w-full flex-col gap-y-4">
            <h1 class="new-rocker w-full text-2xl max-md:text-xl">Welcome to The Void</h1>

            <p class="leading-8 tracking-widest">
                Your ultimate sanctuary for all things black metal. This is not just a website; it's a community where
                the passion
                for the darkest and most enigmatic genre of metal music comes alive. Whether you are a die-hard fan or a
                curious
                newcomer, The Void offers you a space to explore, share, and immerse yourself in the world of black
                metal.
            </p>
        </section>
    </div>
</main>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
}
