<ul class="space-y-2 font-medium">
    <li>
        <a asp-controller="Posts" asp-action="MyPosts"
           class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100
                    dark:hover:bg-gray-700 group">
            <img
                class="flex-shrink-0 w-7 h-7 transition duration-75"
                src="~/images/icons/post-icon.svg" alt="An icon indicating the post section">
            <span class="ms-3 whitespace-nowrap">My Posts</span>
        </a>

        @using (Html.BeginForm("Logoff", "Auth", FormMethod.Post, new { }))
        {
            <button type="submit"
                    class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100
                    dark:hover:bg-gray-700 group">
                <img
                    class="flex-shrink-0 w-7 h-7 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    src="~/images/icons/logoff-icon.svg" alt="An icon indicating the post section">
                <span class="ms-3 whitespace-nowrap">Logoff</span>
            </button>
        }
    </li>

</ul>
