@page
@model BlackMetalBlog.Pages.Home.MyBands
@{
    ViewData["Title"] = "The Void - Favorite Bands";
}

<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="text-2xl text-center gap-y-10 flex flex-col items-center justify-start">
    <p>Here you can see your favorite bands!</p>

    <h2>Most Listened</h2>

    <ul>
        <li>Band 1</li>
        <li>Band 2</li>
        <li>Band 3</li>
        <li>Band 4</li>
    </ul>

    <button class="btn btn-info">Add Band</button>
</div>
</body>
</html>

