@page "favorites"
@model BlackMetalBlog.Pages.FavoriteBands.FavoriteBands
@{
    ViewData["Title"] = "The Void - Favorite Bands";
    Model.TestLog();
}

<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="text-2xl text-center gap-y-10 flex flex-col items-center justify-start">
    <button type="button" class="btn btn-primary">
        Notifications <span class="badge bg-secondary">4</span>
    </button>
</div>


</body>
</html>
