@using BlackMetalBlog.Models.Enums
@using BlackMetalBlog.Models.ViewModels.Shared
@{
    Layout = "_Layout";
    var errorMessage = ViewData["ErrorMessage"] as string;

    var nameInputModel = new InputModel("nameInput", "nameInput", "Name",
        "Name", InputTypesEnum.Text);

    var usernameInputModel = new InputModel("usernameInput", "usernameInput", "Username",
        "Username", InputTypesEnum.Text);

    var passwordInputModel = new InputModel("passwordInput", "passwordInput", "Password",
        "Password", InputTypesEnum.Password);

    var confirmPasswordInputModel = new InputModel("confirmPasswordInput", "confirmPasswordInput", "ConfirmPassword",
        "Confirm password", InputTypesEnum.Password);
}

<main role="main" class="flex-grow-1 h-full w-full bg-neutral-900 p-4">

    <div class="alert alert-danger w-75 mx-auto" role="alert">
        @errorMessage
    </div>

    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "mt-5 flex text-sm flex-col gap-4 justify-start max-w-xl items-center mx-auto" }))
    {
        @await Html.PartialAsync("Components/_InputComponent", nameInputModel)
        @await Html.PartialAsync("Components/_InputComponent", usernameInputModel)
        @await Html.PartialAsync("Components/_InputComponent", passwordInputModel)
        @await Html.PartialAsync("Components/_InputComponent", confirmPasswordInputModel)

        @await Html.PartialAsync("Components/_DarkButton", new ButtonModel("signupButton", "Register",
            onClickFunctionName: "onSignup()", buttonType: ButtonTypesEnum.Button))

        <button type="submit"
                class="px-8 py-3 bg-black text-gray-200 tracking-widest border border-gray-800 hover:bg-gray-900
                 focus:outline-none focus:border-gray-500 transition-all duration-300 font-thin
                text-sm transform text-center">
            Login
        </button>
    }
</main>

@section Scripts {
    <script src="~/dist/login.bundle.js" type="module"></script>
    <script src="~/dist/register.bundle.js"></script>
}
