@using BlackMetalBlog.Models.Enums
@using BlackMetalBlog.Models.ViewModels.Shared
@{
    Layout = "_Layout";
    var errorMessage = TempData["ErrorMessage"] as string;

    var nameInputModel = new InputViewModel("nameInput", "nameInput", "Name",
        "Name", InputTypesEnum.Text);

    var usernameInputModel = new InputViewModel("usernameInput", "usernameInput", "Username",
        "Username", InputTypesEnum.Text);

    var passwordInputModel = new InputViewModel("passwordInput", "passwordInput", "Password",
        "Password", InputTypesEnum.Password);

    var confirmPasswordInputModel = new InputViewModel("confirmPasswordInput", "confirmPasswordInput", "ConfirmPassword",
        "Confirm password", InputTypesEnum.Password);
}

<main role="main" class="flex flex-col items-center justify-start h-full w-full p-4">

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div id="invalidCredentialsError"
             class="mx-auto w-3/4 max-w-xl rounded-md bg-red-500 p-2 text-center text-sm text-neutral-200 shadow"
             role="alert">
            @errorMessage
        </div>
    }

    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "mt-5 flex text-sm w-full flex-col gap-4 justify-start max-w-xl items-center mx-auto" }))
    {
        @await Html.PartialAsync("Components/_InputComponent", nameInputModel)
        @await Html.PartialAsync("Components/_InputComponent", usernameInputModel)
        @await Html.PartialAsync("Components/_InputComponent", passwordInputModel)
        @await Html.PartialAsync("Components/_InputComponent", confirmPasswordInputModel)

        <button id="signupButton" type="button" onclick="onSignup()"
                class="px-8 py-3 bg-black text-gray-200 tracking-widest border border-gray-800 hover:bg-gray-900
                 focus:outline-none focus:border-gray-500 transition-all duration-300 font-thin
                text-sm transform text-center">
            Register
        </button>

        <a asp-controller="Auth" asp-action="Login"
           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Have an account? Sign in!</a>
    }
</main>

@section Scripts {
    <script src="~/dist/login.bundle.js" type="module"></script>
    <script src="~/dist/register.bundle.js"></script>
}
