@using BlackMetalBlog.Models.Enums
@using BlackMetalBlog.Models.ViewModels.Shared
@{
    Layout = "_AuthLayout";
    var errorMessage = ViewData["ErrorMessage"] as string;

    var nameInputModel = new InputModel
    {
        LabelFor = "nameInput",
        InputId = "nameInput",
        InputName = "Name",
        InputPlaceholder = "Name"
    };

    var usernameInputModel = new InputModel
    {
        LabelFor = "usernameInput",
        InputId = "usernameInput",
        InputName = "Username",
        InputPlaceholder = "Username"
    };

    var passwordInputModel = new InputModel
    {
        LabelFor = "passwordInput",
        InputId = "passwordInput",
        InputName = "Password",
        InputPlaceholder = "Password"
    };

    var confirmPasswordInputModel = new InputModel
    {
        LabelFor = "confirmPasswordInput",
        InputId = "confirmPasswordInput",
        InputName = "ConfirmPassword",
        InputPlaceholder = "Confirm password"
    };
}

<main role="main" class="flex-grow-1 h-full w-full bg-neutral-900 p-4">

    <div class="alert alert-danger w-75 mx-auto" role="alert">
        @errorMessage
    </div>

    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "mt-5 flex text-sm flex-col gap-4 justify-start max-w-xl items-center mx-auto" }))
    {
        @await Html.PartialAsync("Components/_InputComponent", nameInputModel)
        @await Html.PartialAsync("Components/_InputComponent", usernameInputModel)
        @await Html.PartialAsync("Components/_InputComponent", passwordInputModel)
        @await Html.PartialAsync("Components/_InputComponent", confirmPasswordInputModel)

        @await Html.PartialAsync("Components/_DarkButton", new ButtonModel
        {
            Id = "signupButton",
            Text = "Register",
            OnClickFunctionName = "onSignup()",
            Type = ButtonTypeEnum.Button.GetValue()
        })
    }
</main>

@section Scripts {
    <script src="~/dist/login.bundle.js" type="module"></script>
    <script src="~/dist/register.bundle.js"></script>
}
